version=0.22

#This is the number of horizontal and vertical pixels
frame_y=800
frame_x=530

#This is the background color (1) and text color (2)
color_1=1
color_2=1

#This is the top speed for the speedometer
top_speed=10

#Tells whether night mode, mini mode, and track mode are automatically started (ON or OFF)
night_mode=OFF
mini_mode=ON
track_mode=OFF

#Choices are NMPH (knots), MPH (miles/hour), KPH (kilometers/hour)
unit_speed=NMPH
#Choices are NM (nautical miles), KM (kilometers), MI (miles)
unit_distance=NM

#Tells where to store new track gpx file
track_location=./Tracks/
#Tells how many seconds are delayed between gathering lat/long info for track files
track_secs=10
#Tells how many sessions of track_secs occur between writing lat/lon info to the current file
track_save=6
#Tells the maximum file size in bytes allowed for track gpx files, before creating a new one
track_maxsize=2097152

#Tells where route gpx files are located
route_location=./Routes/

#Tells the location of the GPS serial connection, and the baud rate
gps_location=/dev/ttyUSB0
gps_baudrate=4800

#Crosstrack error alarm - in the distance unit selected
xte_alarm=5