#This is the number of horizontal and vertical pixels
frame_y=500
frame_x=335

#This is the background color and text color
color_1=1
color_2=1

#These are the various font size options
font_1=18
font_2=30
font_3=25
font_4=50

#This is the top speed represented in the speedometer (in knots)
top_speed=10

#Tells whether night mode, mini mode, and track mode are automatically started (ON or OFF)
night_mode=ON
mini_mode=ON
track_mode=ON

#Tells where to store new track gpx file
track_location=./Tracks/
#Tells how many seconds are delayed between gathering lat/long info for track files
track_secs=10
#Tells how many sessions of track_secs occur between writing lat/lon info to the current file
track_save=6

#Tells where route gpx files are located
route_location=./Routes/
